@import "src/styles/colors";

.navigation {

  &__active {
    color: $text-color-blue !important;
  }

  nav {

    width: 100%;
    margin: 0 auto;

    ul {

      width: 90%;

      display: flex;
      align-items: center;
      gap: 20px;

      list-style: none;
      padding: 10px 0;
      margin: 0 auto;

      li {

        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        a {
          color: $text-color;
          text-decoration: none;
        }

        &:hover {
          //color: $text-color-hover;
        }
      }
    }
  }
}
