<section class="navigation">
  <nav>
    <ul>
      <li *ngFor="let link of navigation">
        <a routerLinkActive="navigation__active" [routerLink]="link.path">{{link.name}}</a>
      </li>
      |
      <ng-container *ngIf="isLoggedIn | async; else notLogged">
        <li>
          <a routerLinkActive="navigation__active" [routerLink]="['/profile']">Profile</a>
        </li>
        <li>
          <a routerLinkActive="navigation__active" [routerLink]="['/logout']">Logout</a>
        </li>
      </ng-container>
    </ul>
  </nav>
</section>

<ng-template #notLogged>
  <li>
    <a routerLinkActive="navigation__active" [routerLink]="['/login']">Вход</a>
  </li>
  <li>
    <a routerLinkActive="navigation__active" [routerLink]="['/register']">Регистрация</a>
  </li>
</ng-template>
