<section class="front">
  <div>
    <span>Открий добрите новини</span>
    <h1>Включи се в това приключение с нас</h1>
    <p>
      България е страна с много красиви места, красиви хора и красива култура. Ние сме тук, за да ви покажем това.
    </p>
    <form [formGroup]="newsletterFormGroup">
      <input type="email" formControlName="email" placeholder="Попълнете вашия имейл">
      <button (click)="registerEmail()">Абонирай се</button>
    </form>
    <div>
      <h3>Очаквайте и на мобилни устройства</h3>
    </div>
  </div>
  <div>

  </div>
</section>
