// text colors
$text-color: #1c1f21;

$text-color-blue: #106596;

$text-color-light: #c4d8ff;

// background colors
$bg-color: #fff;

// button colors
$btn-color: #0d1011;
$btn-color-hover: #1c1f21;
$btn-color-light: #c4d8ff;
